<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.netamity.luvalarm"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Luvalarm</name>

    <description>
        Your talking lover alarm clock
    </description>

    <author href="http://www.netamity.com" email="support@netamity.com">
        Andy Hickey 
    </author>


    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
	
<gap:plugin name="org.apache.cordova.audiohandler" />	

	<gap:platform name="android" />
</widget>